<p>
XP-Manchester is a regional group with the goal of promoting, discussing, practicing, learning and generally showing an interest in eXtreme Programming, test-driven development, kanban, etc. We are looking to build a community of people involved in software development in which people are comfortable to both contribute and learn. We plan to meet each month after work, somewhere central in Manchester, and run a mix of evenings involving:
<ul>
  <li>coding dojos;</li>
  <li>lightning talks;</li>
  <li>discussions and general ideas sharing.</li>
</ul>
</p>
<p>
Meetings are usually the second Thursday of the month at 
<a href='http://www.madlab.org.uk'>MadLab, the Northern Quarter</a>.
</p>
<p>
For more information on eXtreme Programming see here.
</p>
<p>
Feel free to use this group to discuss ideas and suggest content for our meetings! 
</p>