<!DOCTYPE html>
<html>
<head>
  <title>XP-Manchester</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id='bodyContainer'>
    <div id='headerContainer'>
      <h1>XP Manchester</h1>
      <a href="https://groups.google.com/group/xp-manchester?hl=en">mailing list</a>
    </div>
    <div id='contentContainer'>
      <%= yield %>
    </div>
  </div>
</body>
</html>
